<!DOCTYPE html>
<html lang="zxx">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Template / Contacts</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link rel="stylesheet" href="assets/css/master.css">
      <link rel="icon" type="image/x-icon" href="favicon.ico"><!--[if lt IE 9 ]>
<script src="/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
<![endif]-->
  </head>
  <body class="page">
               
    <!-- Loader-->
      <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    <!-- Loader end-->

      
         <div class="l-theme animated-css animsition" data-header="sticky" data-header-top="200">
        <!-- ==========================-->
        <!-- MOBILE MENU-->
        <!-- ==========================-->
        <div data-off-canvas="mobile-slidebar left overlay">
            <a class="navbar-brand scroll" href="home.html"><img class="scroll-logo" src="assets/media/general/logo-light.png" alt="logo"></a>


            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="home.html">Home<span class="sr-only">(current)</span></a></li>
                <li class="nav-item "><a class="nav-link">Inventory</a>


                    <ul>
                        <li><a class="dropdown-item" href="inventory-list.html">Inventory list</a></li>
                        <li><a class="dropdown-item" href="inventory-grid.html">Inventory grid</a><a class="dropdown-item" href="dealers.html">Dealers list</a></li>
                        <li><a class="dropdown-item" href="dealers-info.html">Dealers info</a></li>
                    </ul>


                </li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>

                <li class="nav-item "><a class="nav-link" href="#">Pages</a>

                    <ul>
                        <li><a class="dropdown-item" href="typography.html">Typography</a></li>

                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">News</a>

                    <ul>
                        <li><a class="dropdown-item" href="blog-main.html">Blog main</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">Blog post</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="contacts.html">Contact</a></li>
            </ul>

        </div>
        <div data-canvas="container">
            
            <header class="header">
                <div class="top-bar d-none d-xl-block">
                    <div class="container">
                        <div class="row">
                            <div class="col offset-2">
                                <div class="top-bar__inner row justify-content-between align-items-center">
                                    <ul class="top-bar__list list-unstyled col">
                                        <li class="top-bar__item"><a class="top-bar__link" href="mailto:support@domain.com">support@domain.com</a></li>
                                        <li class="top-bar__item">Mon to Fri : 9:00am to 6:00pm</li>
                                        <li class="top-bar__item">Fairview Ave, El Monte, CA 91732</li>
                                    </ul><a class="btn btn-primary btn-sm col-auto" href="#"><i class="ic icon-list"></i> Add Listings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-2 col-auto">
                                <a class="navbar-brand scroll" href="home.html"><img class="normal-logo" src="assets/media/general/logo.png" alt="logo"></a>
                            </div>
                            <div class="col-lg-auto col">
                                <div class="header-contacts d-none d-md-block d-lg-none d-xl-block"><i class="ic text-primary icon-call-in"></i><span class="header-contacts__inner">Call Us Today!<a class="header-contacts__number" href="tel:+17553028549">+1 755 302 8549</a></span></div>
                                <!-- Mobile Trigger Start-->
                                <button class="menu-mobile-button js-toggle-mobile-slidebar toggle-menu-button d-lg-none"><i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i></button>
                                <!-- Mobile Trigger End-->
                            </div>
                            <div class="col-lg d-none d-lg-block">
                                <nav class="navbar navbar-expand-md justify-content-end" id="nav">
                                    <ul class="yamm main-menu navbar-nav">
                                        <li class="nav-item active"><a class="nav-link" href="home.html">Home<span class="sr-only">(current)</span></a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                                <a class="dropdown-item" href="inventory-list.html">Inventory list</a>
                                                <a class="dropdown-item" href="inventory-grid.html">Inventory grid</a>
                                                <a class="dropdown-item" href="vehicle-details.html">Vehicle details</a>
                                                <a class="dropdown-item" href="dealers.html">Dealers list</a>
                                                <a class="dropdown-item" href="dealers-info.html">Dealers info</a></div>
                                        </li>

                                        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>

                                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1"><a class="dropdown-item" href="typography.html">Typography</a></div>
                                        </li>
                                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown4" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown4"><a class="dropdown-item" href="blog-main.html">Blog main</a><a class="dropdown-item" href="blog-post.html">Blog post</a></div>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="contacts.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end .header-->
        <div class="section-title-page area-bg area-bg_dark area-bg_op_60">
          <div class="area-bg__inner">
            <div class="container">
              <div class="row">
                <div class="col offset-lg-3">
                  <div class="b-title-page__wrap">
                    <h1 class="b-title-page">Contact us</h1>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Get In Touch</li>
                      </ol>
                      <!-- end breadcrumb-->
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end .b-title-page-->
        <main class="l-main-content">
          <div class="container">
            <div class="section-area">
              <div class="row">
                <div class="col-md-6 col-lg-3">
                  <div class="b-contacts"><i class="ic icon-direction"></i>
                    <div class="b-contacts__title">Head Office</div>
                    <div class="b-contacts__info">68 Landsriver St, Welson<br>California 22066</div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="b-contacts"><i class="ic icon-call-end bg-primary"></i>
                    <div class="b-contacts__title">Phone</div>
                    <div class="b-contacts__info">+303 123 456 7890<br>Sales Dept. 0800 123 4567</div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="b-contacts"><i class="ic icon-envelope"></i>
                    <div class="b-contacts__title">Email</div>
                    <div class="b-contacts__info">info [at] domain.com<br>support [at] domain.com</div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="b-contacts"><i class="ic icon-flag bg-primary"></i>
                    <div class="b-contacts__title">Showroom</div>
                    <div class="b-contacts__info">FairView Ave, El Monte<br>California 91732</div>
                  </div>
                </div>
              </div>
              <!-- end .b-contacts-->
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="map" id="map"></div>
              </div>
              <div class="col-md-6">
                <section class="section-form-contacts">
                  <h2 class="ui-title-inner">Send a<span class="text-primary"> Message</span></h2>
                  <p>Nulla pariatur excepteur sint occaecat cupidatat no proident culpa qui officia des mollit anim id est lab orum ut perspiciatis unde omnis iste natuser sit volupta tem accusantium sed ipsum laudantium.</p>
                  <div id="success"></div>
                  <form class="b-form-contacts ui-form" id="contactForm" action="#" method="post">
                    <div class="form-group">
                      <input class="form-control" id="user-name" type="text" name="user-name" placeholder="Your Name" required="required"/>
                    </div>
                    <div class="form-group">
                      <input class="form-control" id="user-email" type="email" name="user-email" placeholder="email"/>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="user-message" rows="5" placeholder="Message" required="required"></textarea>
                    </div>
                    <button class="btn btn-primary">Send Message</button>
                  </form>
                </section>
                <!-- end .b-form-contact-->
              </div>
            </div>
          </div>
        </main>
          <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="text-center">
                    <div class="footer-logo"><a class="footer-logo__link" href="home.html"><img class="img-responsive" src="assets/media/general/logo-light.png" alt="Logo"></a></div>
                    <ul class="footer-soc list-unstyled">
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-linkedin"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-google-plus-g"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-pinterest"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fas fa-play"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-sm-5">
                  <div class="footer-section footer-section_info">
                    <div class="footer-info">Ceipisicing elit sed do eiusmod tempor laboe dolore magna aliqa Ut enim ad minim veniam quis nostrud exercitation ullam co laboris nis aliquip comsecd sed ipsum.</div>
                    <div class="footer-contacts">
                      <div class="footer-contacts__item"><i class="ic icon-location-pin"></i>Fairview Ave, El Monte, CA 91732</div>
                      <div class="footer-contacts__item"><i class="ic icon-envelope"></i><a href="mailto:support@domain.com">support@domain.com</a></div>
                      <div class="footer-contacts__item"><i class="ic icon-earphones-alt"></i>Phone:
                        
                        <a href="tel:+17553028549">+1 755 302 8549</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-3">
                  <div class="row">
                    <div class="col-lg-6">
                      <section class="footer-section footer-section_link">
                        <h3 class="footer-section__title">About Revus</h3>
                        <ul class="footer-list list-unstyled">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">About us</a></li>
                          <li><a href="#">Inventory</a></li>
                          <li><a href="#">Parts Shop</a></li>
                          <li><a href="#">Contact</a></li>
                        </ul>
                      </section>
                    </div>
                    <div class="col-lg-6">
                      <section class="footer-section footer-section_link">
                        <h3 class="footer-section__title">Customer Links</h3>
                        <ul class="footer-list list-unstyled">
                          <li><a href="#">Latest Cars</a></li>
                          <li><a href="#">Featured Cars</a></li>
                          <li><a href="#">Sell Your Car</a></li>
                          <li><a href="#">Buy a Car</a></li>
                          <li><a href="#">Reviews</a></li>
                          <li><a href="#">Latest News</a></li>
                        </ul>
                      </section>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <section class="footer-section footer-section_subscribe">
                    <h3 class="footer-section__title">Subscribe Newsletter</h3>
                    <form class="footer-form">
                      <div class="footer-form__info">Get our weekly nwsletter for latest car news exclusive offers and deals and more.</div>
                      <div class="form-group">
                        <input class="footer-form__input form-control" type="email" placeholder="your email">
                      </div>
                      <button class="btn btn-sm btn-primary">Subscribe</button>
                    </form>
                  </section>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="footer-copyright">
                    Copyrights (c) 2019 Revus - Auto Dealer Template. All rights reserved.
                    <a class="footer-copyright__link" href="privacy-policy.html">Privacy Policy</a>
                  </div>
                </div>
              </div><span class="footer__btn-up js-scroll-top"><i class="ic fas fa-angle-up"></i><img src="assets/media/general/go_top.png" alt="go top"></span>
            </div>
          </footer>
          <!-- .footer-->
      </div>
    </div>
    <!-- end layout-theme-->
    
    
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Color scheme-->
    <script src="assets/plugins/switcher/js/dmss.js"></script>
    <!-- Select customization & Color scheme-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
    <!-- Pop-up window-->
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Headers scripts-->
    <script src="assets/plugins/headers/slidebar.js"></script>
    <script src="assets/plugins/headers/header.js"></script>
    <!-- Mail scripts-->
    <script src="assets/plugins/jqBootstrapValidation.js"></script>
    <script src="assets/plugins/contact_me.js"></script>
    <!-- Video player-->
    <script src="assets/plugins/flowplayer/flowplayer.min.js"></script>
    <!-- Filter and sorting images-->
    <script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="assets/plugins/isotope/imagesLoaded.js"></script>
    <!-- Progress numbers-->
    <script src="assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="assets/plugins/rendro-easy-pie-chart/jquery.waypoints.min.js"></script>
    <!-- Animations-->
    <script src="assets/plugins/scrollreveal/scrollreveal.min.js"></script>
    <!-- Scale images-->
    <script src="assets/plugins/ofi.min.js"></script>
    <!-- User map-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhTd-ZT5nzCNucY9AZUCspnXrw3votR34"></script>
    <!-- Maps customization-->
    <script src="assets/js/map-custom.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>