<!DOCTYPE html>
<html lang="zxx">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Template / Vehicle detail </title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link rel="stylesheet" href="assets/css/master.css">
      <link rel="icon" type="image/x-icon" href="favicon.ico"><!--[if lt IE 9 ]>
<script src="/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
<![endif]-->
  </head>
  <body class="page">
               
    <!-- Loader-->
      <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    <!-- Loader end-->

      
         <div class="l-theme animated-css animsition" data-header="sticky" data-header-top="200">
        <!-- ==========================-->
        <!-- MOBILE MENU-->
        <!-- ==========================-->
        <div data-off-canvas="mobile-slidebar left overlay">
            <a class="navbar-brand scroll" href="home.html"><img class="scroll-logo" src="assets/media/general/logo-light.png" alt="logo"></a>


            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="home.html">Home<span class="sr-only">(current)</span></a></li>
                <li class="nav-item "><a class="nav-link">Inventory</a>


                    <ul>
                        <li><a class="dropdown-item" href="inventory-list.html">Inventory list</a></li>
                        <li><a class="dropdown-item" href="inventory-grid.html">Inventory grid</a><a class="dropdown-item" href="dealers.html">Dealers list</a></li>
                        <li><a class="dropdown-item" href="dealers-info.html">Dealers info</a></li>
                    </ul>


                </li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>

                <li class="nav-item "><a class="nav-link" href="#">Pages</a>

                    <ul>
                        <li><a class="dropdown-item" href="typography.html">Typography</a></li>

                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">News</a>

                    <ul>
                        <li><a class="dropdown-item" href="blog-main.html">Blog main</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">Blog post</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="contacts.html">Contact</a></li>
            </ul>

        </div>
        <div data-canvas="container">
           
            <header class="header">
                <div class="top-bar d-none d-xl-block">
                    <div class="container">
                        <div class="row">
                            <div class="col offset-2">
                                <div class="top-bar__inner row justify-content-between align-items-center">
                                    <ul class="top-bar__list list-unstyled col">
                                        <li class="top-bar__item"><a class="top-bar__link" href="mailto:support@domain.com">support@domain.com</a></li>
                                        <li class="top-bar__item">Mon to Fri : 9:00am to 6:00pm</li>
                                        <li class="top-bar__item">Fairview Ave, El Monte, CA 91732</li>
                                    </ul><a class="btn btn-primary btn-sm col-auto" href="#"><i class="ic icon-list"></i> Add Listings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-2 col-auto">
                                <a class="navbar-brand scroll" href="home.html"><img class="normal-logo" src="assets/media/general/logo.png" alt="logo"></a>
                            </div>
                            <div class="col-lg-auto col">
                                <div class="header-contacts d-none d-md-block d-lg-none d-xl-block"><i class="ic text-primary icon-call-in"></i><span class="header-contacts__inner">Call Us Today!<a class="header-contacts__number" href="tel:+17553028549">+1 755 302 8549</a></span></div>
                                <!-- Mobile Trigger Start-->
                                <button class="menu-mobile-button js-toggle-mobile-slidebar toggle-menu-button d-lg-none"><i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i></button>
                                <!-- Mobile Trigger End-->
                            </div>
                            <div class="col-lg d-none d-lg-block">
                                <nav class="navbar navbar-expand-md justify-content-end" id="nav">
                                    <ul class="yamm main-menu navbar-nav">
                                        <li class="nav-item active"><a class="nav-link" href="home.html">Home<span class="sr-only">(current)</span></a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                                <a class="dropdown-item" href="inventory-list.html">Inventory list</a>
                                                <a class="dropdown-item" href="inventory-grid.html">Inventory grid</a>
                                                <a class="dropdown-item" href="vehicle-details.html">Vehicle details</a>
                                                <a class="dropdown-item" href="dealers.html">Dealers list</a>
                                                <a class="dropdown-item" href="dealers-info.html">Dealers info</a></div>
                                        </li>

                                        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>

                                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1"><a class="dropdown-item" href="typography.html">Typography</a></div>
                                        </li>
                                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown4" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown4"><a class="dropdown-item" href="blog-main.html">Blog main</a><a class="dropdown-item" href="blog-post.html">Blog post</a></div>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="contacts.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end .header-->
        <div class="section-title-page area-bg area-bg_dark area-bg_op_60">
          <div class="area-bg__inner">
            <div class="container">
              <div class="row">
                <div class="col offset-lg-3">
                  <div class="b-title-page__wrap">
                    <h1 class="b-title-page">Vehicle details</h1>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Vehicle details</li>
                      </ol>
                      <!-- end breadcrumb-->
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end .b-title-page-->
  
            
                  <div class="l-main-content">
        <div class="container">
          <section class="b-goods-f">
              
              
              <div class="row">
              <div class="col-lg-8">
                <div class="ui-subtitle">new seventh-generation 3 Series sedan</div>
                <h1 class="ui-title text-uppercase">BMW 3 Series 2019</h1>
               
              </div>
              <div class="col-lg-4">
                <div class="b-goods-f-price">
                  <div class="b-goods-f-price__inner">
                    <div class="b-goods-f-price__msrp">MSRP:<strong> $34,500</strong></div>
                    <div class="b-goods-f-price__main bg-primary">$30,480</div>
                  </div>
                  <div class="b-goods-f-price__note">Included Taxes &amp; Checkup*</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8">
                <div class="b-goods-f__links"><a class="b-goods-f__links-item" href="#"><i class="ic fas fa-map-marker-alt text-primary"></i>Moscow, RU</a><a class="b-goods-f__links-item" href="#"><i class="ic fas fa-question text-primary"></i>Request More Info</a><a class="b-goods-f__links-item" href="#"><i class="ic fas fa-star text-primary"></i>Add To Favourite</a><a class="b-goods-f__links-item" href="#"><i class="ic fas fa-car-side text-primary"></i>Schedule Test Drive</a><a class="b-goods-f__links-item" href="email:test@test.test"><i class="ic fas fa-envelope text-primary"></i>Email Friend</a></div>
                <div class="b-goods-f__slider">
                  <div class="ui-slider-main js-slider-for"><img class="img-scale" src="assets/media/content/b-goods/main-slider/main/1.jpg" alt="foto"/><img class="img-scale" src="assets/media/content/b-goods/main-slider/main/2.jpg" alt="foto"/><img class="img-scale" src="assets/media/content/b-goods/main-slider/main/1.jpg" alt="foto"/><img class="img-scale" src="assets/media/content/b-goods/main-slider/main/2.jpg" alt="foto"/><img class="img-scale" src="assets/media/content/b-goods/main-slider/main/1.jpg" alt="foto"/></div>
                  <div class="ui-slider-nav js-slider-nav"><img class="img-scale" src="assets/media/content/b-goods/main-slider/thumb/1.jpg" alt="foto"/><img class="img-scale" src="assets/media/content/b-goods/main-slider/thumb/2.jpg" alt="foto"/><img class="img-scale" src="assets/media/content/b-goods/main-slider/thumb/3.jpg" alt="foto"/><img class="img-scale" src="assets/media/content/b-goods/main-slider/thumb/4.jpg" alt="foto"/><img class="img-scale" src="assets/media/content/b-goods/main-slider/thumb/5.jpg" alt="foto"/></div>
                </div>
                <h2 class="b-goods-f__title">Vehicle Specifications</h2>
                <div class="row">
                  <div class="col-md-6">
                    <dl class="b-goods-f__descr row">
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Registration</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">2019</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Brand / Model</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">BMW 3 Series</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Body Style</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">Sedan</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Color</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">Fanta Red</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Fuel Type</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">Gasoline</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Engine</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">255 hp @5000 rpm</dd>
                    </dl>
                  </div>
                  <div class="col-md-6">
                    <dl class="b-goods-f__descr row">
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Condition</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">New</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Mileage</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">20,000 mi</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Transmission</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">8-Speed A/T</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Drivetrain</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">All Wheels Drive</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">Interior Color</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">Black / Red</dd>
                      <dt class="b-goods-f__descr-title col-lg-5 col-md-12">No. Of Seats</dt>
                      <dd class="b-goods-f__descr-info col-lg-7 col-md-12">5</dd>
                    </dl>
                  </div>
                </div>
                <ul class="nav nav-tabs nav-vehicle-detail-tabs" id="myTab" role="tablist">
                  <li class="nav-item"><a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a></li>
                  <li class="nav-item"><a class="nav-link" id="features-tab" data-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="false">Features & Options</a></li>
                  <li class="nav-item"><a class="nav-link" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="false">Vehicle Location</a></li>
                  <li class="nav-item"><a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Owner Reviews</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <p>Edipisicing eiusmod tempor incididunt labore sed dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p><strong>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</strong> nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Exe pteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed umt perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                    <h3 class="b-goods-f__title-inner">General Information</h3>
                    <ul class="list list-mark-2">
                      <li>Enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi</li>
                      <li>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore</li>
                      <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
                      <li>Laboris nisi ut aliquip ex ea comodo consequat duis aute irure dolor in</li>
                      <li>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
                    <p>Edipisicing eiusmod tempor incididunt labore sed dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                  <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Exe pteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed umt perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                  </div>
                  <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    <ul class="list list-mark-2">
                      <li>Enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi</li>
                      <li>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore</li>
                      <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
                      <li>Laboris nisi ut aliquip ex ea comodo consequat duis aute irure dolor in</li>
                      <li>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <aside class="l-sidebar">
                    
                    
                  <div class="b-seller">
                    <div class="b-seller__header">
                      <div class="b-seller__img"><img class="img-scale" src="assets/media/content/b-seller/1.jpg" alt="foto"/></div>
                      <div class="b-seller__title">
                        <div class="b-seller__name">Joseph Kane</div>
                        <div class="b-seller__category">Member Since August 2001</div>
                      </div>
                    </div>
                    <div class="b-seller__main"><i class="b-seller__ic fas fa-phone text-primary"></i>
                      <div class="b-seller__contact"><span class="d-block">Contact Seller</span><a class="b-seller__phone" href="tel:12584037961">1 (258) 403 7961</a></div>
                      <ul class="b-seller-soc list-unstyled">
                        <li class="b-seller-soc__item"><a class="b-seller-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                        <li class="b-seller-soc__item"><a class="b-seller-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                        <li class="b-seller-soc__item"><a class="b-seller-soc__link" href="#" target="_blank"><i class="ic fab fa-linkedin"></i></a></li>
                        <li class="b-seller-soc__item"><a class="b-seller-soc__link" href="#" target="_blank"><i class="ic fab fa-google-plus-g"></i></a></li>
                        <li class="b-seller-soc__item"><a class="b-seller-soc__link" href="#" target="_blank"><i class="ic fab fa-pinterest"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- end .b-seller-->
                  
                  <div class="widget section-sidebar bg-gray widget-selecr-contact">
                      <h3 class="widget-title bg-dark"><i class="ic icon_mail_alt"></i>Message Seller</h3>
                    <div class="widget-content">
                      <div class="widget-inner">
                        <form>
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Name"/>
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                          </div>
                          <button class="btn btn-red btn-lg w-100">Send now</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="widget section-sidebar bg-gray">
                    <h3 class="widget-title bg-dark"><i class="ic flaticon-money"></i>Find installment</h3>
                    <div class="widget-content">
                      <div class="widget-inner">
                        <form>
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Loan Amount*"/>
                          </div>
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Down Payment*"/>
                          </div>
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Months Period*"/>
                          </div>
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Interest Rate*"/>
                          </div>
                          <button class="btn btn-border btn-lg w-100">Estimate payment</button>
                        </form>
                      </div>
                    </div>
                    <!-- end .widget-->
                    
                  </div>
                </aside>
              </div>
            </div>
          </section>
          <!-- end .b-goods-f-->
          
        </div>
      </div>
        
       
            
            
          <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="text-center">
                    <div class="footer-logo"><a class="footer-logo__link" href="home.html"><img class="img-responsive" src="assets/media/general/logo-light.png" alt="Logo"></a></div>
                    <ul class="footer-soc list-unstyled">
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-linkedin"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-google-plus-g"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fab fa-pinterest"></i></a></li>
                      <li class="footer-soc__item"><a class="footer-soc__link" href="#" target="_blank"><i class="ic fas fa-play"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-sm-5">
                  <div class="footer-section footer-section_info">
                    <div class="footer-info">Ceipisicing elit sed do eiusmod tempor laboe dolore magna aliqa Ut enim ad minim veniam quis nostrud exercitation ullam co laboris nis aliquip comsecd sed ipsum.</div>
                    <div class="footer-contacts">
                      <div class="footer-contacts__item"><i class="ic icon-location-pin"></i>Fairview Ave, El Monte, CA 91732</div>
                      <div class="footer-contacts__item"><i class="ic icon-envelope"></i><a href="mailto:support@domain.com">support@domain.com</a></div>
                      <div class="footer-contacts__item"><i class="ic icon-earphones-alt"></i>Phone:
                        
                        <a href="tel:+17553028549">+1 755 302 8549</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-3">
                  <div class="row">
                    <div class="col-lg-6">
                      <section class="footer-section footer-section_link">
                        <h3 class="footer-section__title">About Revus</h3>
                        <ul class="footer-list list-unstyled">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">About us</a></li>
                          <li><a href="#">Inventory</a></li>
                          <li><a href="#">Parts Shop</a></li>
                          <li><a href="#">Contact</a></li>
                        </ul>
                      </section>
                    </div>
                    <div class="col-lg-6">
                      <section class="footer-section footer-section_link">
                        <h3 class="footer-section__title">Customer Links</h3>
                        <ul class="footer-list list-unstyled">
                          <li><a href="#">Latest Cars</a></li>
                          <li><a href="#">Featured Cars</a></li>
                          <li><a href="#">Sell Your Car</a></li>
                          <li><a href="#">Buy a Car</a></li>
                          <li><a href="#">Reviews</a></li>
                          <li><a href="#">Latest News</a></li>
                        </ul>
                      </section>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <section class="footer-section footer-section_subscribe">
                    <h3 class="footer-section__title">Subscribe Newsletter</h3>
                    <form class="footer-form">
                      <div class="footer-form__info">Get our weekly nwsletter for latest car news exclusive offers and deals and more.</div>
                      <div class="form-group">
                        <input class="footer-form__input form-control" type="email" placeholder="your email">
                      </div>
                      <button class="btn btn-sm btn-primary">Subscribe</button>
                    </form>
                  </section>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="footer-copyright">
                    Copyrights (c) 2019 Revus - Auto Dealer Template. All rights reserved.
                    <a class="footer-copyright__link" href="privacy-policy.html">Privacy Policy</a>
                  </div>
                </div>
              </div><span class="footer__btn-up js-scroll-top"><i class="ic fas fa-angle-up"></i><img src="assets/media/general/go_top.png" alt="go top"></span>
            </div>
          </footer>
          <!-- .footer-->
      </div>
    </div>
    <!-- end layout-theme-->
    
    
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Select customization & Color scheme-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
    <!-- Pop-up window-->
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Headers scripts-->
    <script src="assets/plugins/headers/slidebar.js"></script>
    <script src="assets/plugins/headers/header.js"></script>
    <!-- Mail scripts-->
    <script src="assets/plugins/jqBootstrapValidation.js"></script>
    <script src="assets/plugins/contact_me.js"></script>
    <!-- Video player-->
    <script src="assets/plugins/flowplayer/flowplayer.min.js"></script>
    <!-- Filter and sorting images-->
    <script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="assets/plugins/isotope/imagesLoaded.js"></script>
    <!-- Progress numbers-->
    <script src="assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="assets/plugins/rendro-easy-pie-chart/jquery.waypoints.min.js"></script>
    <!-- Animations-->
    <script src="assets/plugins/scrollreveal/scrollreveal.min.js"></script>
    <!-- Scale images-->
    <script src="assets/plugins/ofi.min.js"></script>
    <!-- Video player-->
    <script src="assets/plugins/flowplayer/flowplayer.min.js"></script>
    <!--Sliders-->
    <script src="assets/plugins/slick/slick.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>